.postid-17 {
  background-color: #545542 !important; }

.postid-15 {
  background-color: #B4543C !important; }

.postid-13 {
  background-color: #827360 !important; }

.postid-11 {
  background-color: #4A4133 !important; }

.postid-8 {
  background-color: #737768 !important; }

.postid-27 {
  background-color: #22201E !important; }

.postid-19 {
  background-color: #2E2637 !important; }

.postid-21 {
  background-color: #4A7348 !important; }

.postid-23 {
  background-color: #9B8266 !important; }

.postid-25 {
  background-color: #175472 !important; }

* {
  box-sizing: border-box; }

body {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  line-height: 1.4; }
  @media screen and (min-width: 64em) {
    body {
      height: 100vh; } }

h1 {
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 700;
  line-height: 1; }

.wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.5rem; }
  @media screen and (min-width: 40em) {
    .wrapper {
      padding: 2.5rem; } }
  @media screen and (min-width: 64em) {
    .wrapper {
      padding: 0; } }

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 1.5rem;
  padding: .25rem 1.5rem 0;
  line-height: 2;
  color: #212121;
  border: 1px solid #212121;
  display: inline-block; }
  .button:visited {
    color: #212121; }
  .button:hover {
    background-color: #212121;
    color: #fff; }

.main-header {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  width: calc(100% - 3rem);
  z-index: 20; }
  @media screen and (min-width: 40em) {
    .main-header {
      position: fixed;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-gap: 2rem;
      width: auto; } }
  .main-header h1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    text-transform: uppercase;
    z-index: 1;
    line-height: 1; }
    @media screen and (min-width: 40em) {
      .main-header h1 {
        writing-mode: vertical-rl;
        grid-row: 2; } }
  .main-header button {
    border: 0;
    background-color: transparent;
    padding: 0;
    grid-column: 2;
    grid-row: 1;
    justify-self: end; }
    @media screen and (min-width: 40em) {
      .main-header button {
        grid-row: 1;
        grid-column: 1; } }
    .main-header button:hover {
      cursor: pointer; }
    .main-header button img {
      height: 1.25rem; }

@media screen and (min-width: 64em) {
  .main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; } }
@media screen and (min-width: 64em) {
  .main-footer .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-row: 1fr;
    position: relative; } }
@media screen and (min-width: 64em) {
  .main-footer .wrapper::after {
    content: '';
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 10rem; } }
.main-footer p {
  margin: 0;
  grid-column: 2 / span 11;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 1;
  margin: 0;
  color: rgba(255, 255, 255, 0.2); }
  @media screen and (min-width: 64em) {
    .main-footer p {
      padding-bottom: 1rem;
      border-bottom: 1rem solid rgba(0, 0, 0, 0.1); } }

.single .post-nav {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1.5rem;
  z-index: 0; }
  @media screen and (min-width: 40em) {
    .single .post-nav {
      padding: 2.5rem; } }
  @media screen and (min-width: 64em) {
    .single .post-nav {
      position: fixed;
      bottom: 1rem;
      right: 0;
      padding-bottom: 1.5rem;
      width: 24rem;
      text-align: right; } }
  .single .post-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .single .post-nav ul li a::before {
      color: rgba(255, 255, 255, 0.5);
      font-family: trade-gothic-next, sans-serif;
      font-weight: 400;
      line-height: 1;
      display: block;
      font-size: .875rem;
      margin-bottom: .5rem; }
    .single .post-nav ul li:first-child {
      margin-bottom: 1rem; }
    .single .post-nav ul li:first-child a::before {
      content: 'Previous'; }
    .single .post-nav ul li:last-child a::before {
      content: 'Next'; }
    .single .post-nav ul a {
      font-family: alternate-gothic-no-3-d, sans-serif;
      font-weight: 700;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #fff; }

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem 0;
  min-height: 100vh;
  transition: transform .4s;
  overflow: hidden;
  z-index: 10;
  overflow: auto; }
  @media screen and (min-width: 40em) {
    .main-menu {
      padding: 3rem; } }
  @media screen and (min-width: 64em) {
    .main-menu {
      height: 100vh; } }
  .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 3; }
    @media screen and (min-width: 40em) {
      .main-menu ul {
        columns: 4; } }
    @media screen and (min-width: 64em) {
      .main-menu ul {
        columns: 5; } }
    .main-menu ul li {
      margin-bottom: 1rem; }
      .main-menu ul li a {
        text-decoration: none; }
        .main-menu ul li a:hover img {
          transform: scale(1.05); }
        .main-menu ul li a img {
          width: 100%;
          border: .25rem solid #fff;
          transition: all .2s; }
          @media screen and (min-width: 40em) {
            .main-menu ul li a img {
              border: .5rem solid #fff; } }

.showNav {
  transform: translateY(0); }

.home {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-column: 1fr;
  align-items: center;
  background: url(../img/logo-h-b.svg) no-repeat bottom center;
  background-size: contain;
  padding-bottom: 5rem;
  color: #212121; }
  @media screen and (min-width: 40em) {
    .home {
      background: url(../img/logo-v-b.svg) no-repeat top left;
      padding-bottom: 0;
      background-attachment: fixed;
      height: 100vh; } }
  .home .main-header h1 {
    visibility: hidden; }
  .home .main-footer p {
    color: #ccc; }
  .home main .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 5rem; }
    @media screen and (min-width: 40em) {
      .home main .wrapper {
        grid-template-columns: repeat(12, 1fr);
        margin-top: 0; } }
    @media screen and (min-width: 64em) {
      .home main .wrapper {
        grid-template-rows: 1fr;
        grid-gap: 0; } }
    .home main .wrapper figure {
      grid-column: 1;
      grid-row: 1;
      margin: 0;
      position: relative; }
      @media screen and (min-width: 40em) {
        .home main .wrapper figure {
          grid-column: 3 / span 9;
          grid-row: 1; } }
      @media screen and (min-width: 64em) {
        .home main .wrapper figure {
          grid-column: 6 / span 7;
          grid-row: 1; } }
      @media screen and (min-width: 64em) and (max-height: 40em) {
        .home main .wrapper figure {
          grid-column: 2 / span 3; } }
      .home main .wrapper figure img {
        width: 100%;
        border: .5rem solid #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
        @media screen and (min-width: 64em) {
          .home main .wrapper figure img {
            border: 1rem solid #fff;
            transform: rotate(5deg); } }
      @media screen and (min-width: 64em) {
        .home main .wrapper figure figcaption {
          position: absolute;
          bottom: -4rem;
          right: 2.5rem;
          overflow: hidden;
          transform: rotate(4.5deg); } }
      .home main .wrapper figure figcaption p {
        text-transform: uppercase;
        font-size: .875rem;
        text-align: right;
        float: right;
        color: #ccc; }
    .home main .wrapper .content {
      grid-column: 1;
      grid-row: 2; }
      @media screen and (min-width: 40em) {
        .home main .wrapper .content {
          grid-column: 3 / span 8;
          grid-row: 2; } }
      @media screen and (min-width: 64em) {
        .home main .wrapper .content {
          grid-column: 2 / span 10;
          grid-row: 1;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: repeat(3, auto); } }
      @media screen and (min-width: 64em) and (max-height: 40em) {
        .home main .wrapper .content {
          grid-column: 5 / span 5; } }
      .home main .wrapper .content h2 {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0 0 1rem;
        font-family: alternate-gothic-no-3-d, sans-serif;
        font-weight: 400;
        line-height: 1; }
        @media screen and (min-width: 40em) {
          .home main .wrapper .content h2 {
            font-size: 3.5rem; } }
        @media screen and (min-width: 64em) {
          .home main .wrapper .content h2 {
            grid-column: 1 / span 12;
            font-size: 5rem; }
            @supports (-webkit-text-stroke: 1px #212121) {
              .home main .wrapper .content h2 {
                -webkit-text-stroke: 1px #212121;
                -webkit-text-fill-color: white; } } }
      .home main .wrapper .content h2 + p {
        font-size: 1.125rem;
        margin: 0 0 2rem; }
        @media screen and (min-width: 64em) {
          .home main .wrapper .content h2 + p {
            grid-column: 1 / span 5;
            font-size: 1.25rem;
            padding-right: 2.5rem; } }
      @media screen and (min-width: 64em) {
        .home main .wrapper .content .button {
          grid-column: 1 / span 4;
          justify-self: start; } }

.single {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-column: 1fr;
  align-items: center;
  background: url(../img/logo-h.svg) no-repeat bottom center;
  background-size: contain;
  padding-bottom: 5rem; }
  @media screen and (min-width: 40em) {
    .single {
      background: url(../img/logo-v.svg) no-repeat top left;
      padding-bottom: 0;
      background-attachment: fixed;
      height: 100vh; } }
  .single header h1 a {
    color: #fff;
    text-decoration: none; }
  @media screen and (min-width: 64em) and (min-height: 40em) {
    .single main {
      transform: translateY(-2.5rem); } }
  .single main .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    grid-gap: 2rem;
    margin-top: 5rem; }
    @media screen and (min-width: 40em) {
      .single main .wrapper {
        grid-template-columns: repeat(12, 1fr);
        margin-top: 0; } }
    @media screen and (min-width: 64em) {
      .single main .wrapper {
        grid-template-rows: 1fr;
        grid-gap: 0; } }
    .single main .wrapper figure {
      grid-column: 1;
      grid-row: 1;
      margin: 0;
      position: relative; }
      @media screen and (min-width: 40em) {
        .single main .wrapper figure {
          grid-column: 3 / span 8;
          grid-row: 1; } }
      .single main .wrapper figure img {
        width: 100%;
        border: .5rem solid #fff; }
        @media screen and (min-width: 64em) {
          .single main .wrapper figure img {
            border: 1rem solid #fff; } }
      @media screen and (min-width: 64em) {
        .single main .wrapper figure figcaption {
          position: absolute;
          bottom: -3rem;
          right: 1rem;
          overflow: hidden; } }
      .single main .wrapper figure figcaption p {
        text-transform: uppercase;
        font-size: .875rem;
        color: rgba(255, 255, 255, 0.2);
        text-align: right;
        float: right; }
    .single main .wrapper .content {
      grid-column: 1;
      grid-row: 2;
      color: #fff; }
      @media screen and (min-width: 40em) {
        .single main .wrapper .content {
          grid-column: 3 / span 8;
          grid-row: 2; } }
      .single main .wrapper .content h2 {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0 0 1rem;
        font-family: alternate-gothic-no-3-d, sans-serif;
        font-weight: 700;
        line-height: 1;
        position: relative; }
        .single main .wrapper .content h2::before {
          content: url(../img/es.svg);
          position: absolute;
          z-index: -1;
          width: 50%;
          top: -1.5rem;
          left: -1.5rem; }
      .single main .wrapper .content h2 + p {
        font-size: 1.125rem;
        margin: 0; }
      .single main .wrapper .content .meta img {
        width: 30%; }
      .single main .wrapper .content .meta ul {
        margin: 2.25rem 0 0;
        padding: 0;
        list-style: none; }
        .single main .wrapper .content .meta ul li {
          display: inline-block;
          color: rgba(255, 255, 255, 0.5);
          margin-right: 1rem; }
          .single main .wrapper .content .meta ul li h3 {
            display: inline-block;
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 700;
            margin: 0;
            margin-right: .25rem;
            line-height: 1; }
          .single main .wrapper .content .meta ul li p {
            display: inline-block;
            text-transform: uppercase;
            font-size: .875rem;
            line-height: 1;
            margin: 0; }

@media screen and (min-width: 64em) {
  .postid-21 main .wrapper figure,
  .postid-15 main .wrapper figure,
  .postid-19 main .wrapper figure,
  .postid-17 main .wrapper figure,
  .postid-13 main .wrapper figure,
  .postid-8 main .wrapper figure {
    grid-column: 2 / span 4;
    grid-row: 1; } }
@media screen and (min-width: 64em) and (max-height: 40em) {
  .postid-21 main .wrapper figure,
  .postid-15 main .wrapper figure,
  .postid-19 main .wrapper figure,
  .postid-17 main .wrapper figure,
  .postid-13 main .wrapper figure,
  .postid-8 main .wrapper figure {
    grid-column: 2 / span 3; } }
@media screen and (min-width: 64em) {
  .postid-21 main .wrapper .content,
  .postid-15 main .wrapper .content,
  .postid-19 main .wrapper .content,
  .postid-17 main .wrapper .content,
  .postid-13 main .wrapper .content,
  .postid-8 main .wrapper .content {
    grid-column: 6 / span 6;
    grid-row: 1;
    padding-left: 2.5rem; } }
@media screen and (min-width: 64em) and (max-height: 40em) {
  .postid-21 main .wrapper .content,
  .postid-15 main .wrapper .content,
  .postid-19 main .wrapper .content,
  .postid-17 main .wrapper .content,
  .postid-13 main .wrapper .content,
  .postid-8 main .wrapper .content {
    grid-column: 5 / span 5; } }

@media screen and (min-width: 64em) {
  .postid-27 main .wrapper,
  .postid-11 main .wrapper {
    grid-template-rows: auto auto; } }
@media screen and (min-width: 64em) {
  .postid-27 main .wrapper figure,
  .postid-11 main .wrapper figure {
    grid-column: 2 / span 10;
    grid-row: 1;
    margin-bottom: 2.5rem; } }
@media screen and (min-width: 64em) and (max-height: 40em) {
  .postid-27 main .wrapper figure,
  .postid-11 main .wrapper figure {
    grid-column: 4 / span 6; } }
@media screen and (min-width: 64em) {
  .postid-27 main .wrapper .content,
  .postid-11 main .wrapper .content {
    grid-column: 3 / span 6;
    grid-row: 2; } }

@media screen and (min-width: 64em) {
  .postid-25 main .wrapper figure,
  .postid-23 main .wrapper figure {
    grid-column: 2 / span 5;
    grid-row: 1; } }
@media screen and (min-width: 64em) and (max-height: 40em) {
  .postid-25 main .wrapper figure,
  .postid-23 main .wrapper figure {
    grid-column: 2 / span 3; } }
@media screen and (min-width: 64em) {
  .postid-25 main .wrapper .content,
  .postid-23 main .wrapper .content {
    grid-column: 7 / span 5;
    grid-row: 1;
    padding-left: 2.5rem; } }
@media screen and (min-width: 64em) and (max-height: 40em) {
  .postid-25 main .wrapper .content,
  .postid-23 main .wrapper .content {
    grid-column: 5 / span 5; } }

/*# sourceMappingURL=main.css.map */
