.main-footer {
	@media screen and (min-width: 64em){
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.wrapper {
		@media screen and (min-width: 64em){
			display: grid;
			grid-template-columns: repeat(12,1fr);
			grid-template-row: 1fr;
			position: relative;
		}
		&::after {
			@media screen and (min-width: 64em){
				content: '';
				height: 1rem;
				background-color: rgba(0,0,0,.1);
				position: absolute;
				left: 100%;
				bottom: 0;
				width: 10rem;
			}
		}
	}
	p {
		margin: 0;
		grid-column: 2 / span 11;
		text-transform: uppercase;
		font-size: .875rem;
		line-height: 1;
		margin: 0;
		color: rgba(255,255,255,.2);		
		@media screen and (min-width: 64em){
			padding-bottom: 1rem;
			border-bottom: 1rem solid rgba(0,0,0,.1);
		}
	}
}