* {
	box-sizing: border-box;
}

body {
	@include setType($type-general,400,1.4);
	@media screen and (min-width: 64em){
		height: 100vh;
	}
}

h1 {
	@include setType($type-heading,700,1);
}

.wrapper {
	max-width: 72rem;
	margin: 0 auto;
	padding: 1.5rem;
	@media screen and (min-width: 40em){
		padding: 2.5rem;
	}
	@media screen and (min-width: 64em){
		padding: 0;
	}
}

.button {
	text-decoration: none;
	text-transform: uppercase;
	@include setType($type-heading,700,1);
	font-size: 1.5rem;
	padding: .25rem 1.5rem 0;
	line-height: 2;
	color: #212121;
	border: 1px solid #212121;
	display: inline-block;
	&:visited {
		color: #212121;
	}
	&:hover {
		background-color: #212121;
		color: #fff;
	}
}
