.home {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-column: 1fr;
	align-items: center;
	background: url(../img/logo-h-b.svg) no-repeat bottom center;
	background-size: contain;
	padding-bottom: 5rem;
	color: #212121;
	@media screen and (min-width: 40em){
		background: url(../img/logo-v-b.svg) no-repeat top left;
		padding-bottom: 0;
		background-attachment: fixed;
		height: 100vh;
	}
	.main-header h1 {
		visibility: hidden;
	}
	.main-footer p {
		color: #ccc;
	}
	main .wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		align-items: center;
		grid-gap: 2rem;
		margin-top: 5rem;
		@media screen and (min-width: 40em){
			grid-template-columns: repeat(12,1fr);
			margin-top: 0;
		}
		@media screen and (min-width: 64em){
			grid-template-rows: 1fr;
			grid-gap: 0;
		}
		figure {
			grid-column: 1;
			grid-row: 1;
			margin: 0;
			position: relative;
			@media screen and (min-width: 40em){
				grid-column: 3 / span 9;
				grid-row: 1;
			}
			@media screen and (min-width: 64em){
				grid-column: 6 / span 7;
				grid-row: 1;
			}
			@media screen and (min-width: 64em) and (max-height: 40em){
				grid-column: 2 / span 3;
			}
			img {
				width: 100%;
				border: .5rem solid #fff;
				box-shadow: 0 0 20px rgba(0,0,0,.2);
				@media screen and (min-width: 64em){
					border: 1rem solid #fff;
					transform: rotate(5deg);
				}
			}
			figcaption {
				@media screen and (min-width: 64em){
					position: absolute;
					bottom: -4rem;
					right: 2.5rem;
					overflow: hidden;
					transform: rotate(4.5deg);
				}
				p {
					text-transform: uppercase;
					font-size: .875rem;
					text-align: right;
					float: right;
					color: #ccc;
				}
			}
		}
		.content {
			grid-column: 1;
			grid-row: 2;
			@media screen and (min-width: 40em){
				grid-column: 3 / span 8;
				grid-row: 2;
			}
			@media screen and (min-width: 64em){
				grid-column: 2 / span 10;
				grid-row: 1;
				display: grid;
				grid-template-columns: repeat(12,1fr);
				grid-template-rows: repeat(3,auto);
			}
			@media screen and (min-width: 64em) and (max-height: 40em){
				grid-column: 5 / span 5;
			}
			h2 {
				font-size: 3rem;
				text-transform: uppercase;
				margin: 0 0 1rem;
				@include setType($type-heading,400,1);
    			@media screen and (min-width: 40em){
    				font-size: 3.5rem;
    			}
    			@media screen and (min-width: 64em){
    				grid-column: 1 / span 12;
    				font-size: 5rem;
    				@supports (-webkit-text-stroke: 1px #212121) {
    					-webkit-text-stroke: 1px #212121;
    					-webkit-text-fill-color: white;
    				}
    			}
			}
			h2 + p {
				font-size: 1.125rem;
				margin: 0 0 2rem;
				@media screen and (min-width: 64em){
    				grid-column: 1 / span 5;
    				font-size: 1.25rem;
    				padding-right: 2.5rem;
    			}
			}
			.button {
				@media screen and (min-width: 64em){
					grid-column: 1 / span 4;
					justify-self: start;
				}
			}
		}
	}
}

