.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  background-color: rgba(0,0,0,.9);
  padding: 3rem 0;
  min-height: 100vh;
  transition: transform .4s;
  overflow: hidden;
  z-index: 10;
  overflow: auto;
  @media screen and (min-width: 40em){
    padding: 3rem;
  }
  @media screen and (min-width: 64em){
    height: 100vh;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 3;
    @media screen and (min-width: 40em){
      columns: 4;
    }
    @media screen and (min-width: 64em){
      columns: 5;
    }
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        &:hover img {
          transform: scale(1.05);
        }
        img {
          width: 100%;
          border: .25rem solid #fff;
          transition: all .2s;
          @media screen and (min-width: 40em){
            border: .5rem solid #fff;
          }
        }
      }
    }
  }
}

.showNav {
  transform: translateY(0);
}