.single {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-column: 1fr;
	align-items: center;
	background: url(../img/logo-h.svg) no-repeat bottom center;
	background-size: contain;
	padding-bottom: 5rem;
	@media screen and (min-width: 40em){
		background: url(../img/logo-v.svg) no-repeat top left;
		padding-bottom: 0;
		background-attachment: fixed;
		height: 100vh;
	}
	header {
		h1 {
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
	main {
		@media screen and (min-width: 64em) and (min-height: 40em){
			transform: translateY(-2.5rem); // a slight shift for optical balance
		}
	}
	main .wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		align-items: center;
		grid-gap: 2rem;
		margin-top: 5rem;
		@media screen and (min-width: 40em){
			grid-template-columns: repeat(12,1fr);
			margin-top: 0;
		}
		@media screen and (min-width: 64em){
			grid-template-rows: 1fr;
			grid-gap: 0;
		}
		figure {
			grid-column: 1;
			grid-row: 1;
			margin: 0;
			position: relative;
			@media screen and (min-width: 40em){
				grid-column: 3 / span 8;
				grid-row: 1;
			}
			img {
				width: 100%;
				border: .5rem solid #fff;
				@media screen and (min-width: 64em){
					border: 1rem solid #fff;
				}
			}
			figcaption {
				@media screen and (min-width: 64em){
					position: absolute;
					bottom: -3rem;
					right: 1rem;
					overflow: hidden;
				}
				p {
					text-transform: uppercase;
					font-size: .875rem;
					color: rgba(255,255,255,.2);
					text-align: right;
					float: right;
				}
			}
		}
		.content {
			grid-column: 1;
			grid-row: 2;
			color: #fff;
			@media screen and (min-width: 40em){
				grid-column: 3 / span 8;
				grid-row: 2;
			}
			h2 {
				font-size: 3rem;
				text-transform: uppercase;
				margin: 0 0 1rem;
				@include setType($type-heading,700,1);
				position: relative;
				&::before {
					content: url(../img/es.svg);
					position: absolute;
					z-index: -1;
					width: 50%;
					top: -1.5rem;
					left: -1.5rem;
				}
			}
			h2 + p {
				font-size: 1.125rem;
				margin: 0;
			}
			.meta {
				img {
					width: 30%;
				}
				ul {
					margin: 2.25rem 0 0;
					padding: 0;
					list-style: none;
					li {
						display: inline-block;
						color: rgba(255,255,255,.5);
						margin-right: 1rem;
						h3 {
							display: inline-block;
							text-transform: uppercase;
							font-size: .875rem;
							font-weight: 700;
							margin: 0;
							margin-right: .25rem;
							line-height: 1;
						}
						p {
							display: inline-block;
							text-transform: uppercase;
							font-size: .875rem;
							line-height: 1;
							margin: 0;
						}
					}
				}
			}
		}
	}
}