.postid-17 {
	background-color: #545542 !important;
}

.postid-15 {
	background-color: #B4543C !important;
}

.postid-13 {
	background-color: #827360 !important;
}

.postid-11 {
	background-color: #4A4133 !important;
}

.postid-8 {
	background-color: #737768 !important;
}

.postid-27 {
	background-color: #22201E !important;
}

.postid-19 {
	background-color: #2E2637 !important;
}

.postid-21 {
	background-color: #4A7348 !important;
}

.postid-23 {
	background-color: #9B8266 !important;
}

.postid-25 {
	background-color: #175472 !important;
}